@model Webb_MovieShop.Models.Producer
<link href="~/css/site.css rel="stylesheet" />
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>



<div>
    <h4>Producer</h4>
    <hr />
    <div class="producer-info">
        <img class="rounded-circle bordered-image" src="@Model.PictureUrl" alt="">
        <div>
            <dl>
                <div class="row">
                    <div class="col-sm-6">
                        <dt class="details-label">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="details-value">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </div>
                    <div class="col-sm-6">
                        <dt class="details-label-age">
                            @Html.DisplayNameFor(model => model.Age)
                        </dt>
                        <dd class="details-value-age">
                            @Html.DisplayFor(model => model.Age)
                        </dd>
                    </div>
                </div>
            </dl>
        </div>
    </div>
</div>

<div>
    <h4>Movies</h4>
    <hr />
    <table>
        <tr>
            <th>Title</th>
            <th>Genre</th>
        </tr>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" style="color:white;">@movie.Title</a>
                </td>
                <td>@movie.Genre</td>
            </tr>
        }
    </table>
    <br />
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">
            <button type="submit" class="btn-edit">Edit</button>
    </a>
    }
    <form asp-action="Index">
            <button type="submit" class="btn-back">Back to Producers</button>
    </form>
    
</div>
