@model IEnumerable<Webb_MovieShop.Models.Producer>
<link href="~/css/site.css rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <form asp-action="Create">
            <button type="submit" class="btn-create btn-outline-success">Create New</button>
        </form>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <!--<th>
            @Html.DisplayNameFor(model => model.PictureUrl)
            </th>-->
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
              @if (User.IsInRole("Admin")|| User.IsInRole("User"))
              {
                 <a asp-controller="Producers" asp-action="Details" asp-route-id="@item.Id">

                   <img class="rounded-circle" src="@item.PictureUrl" alt="@item.Name" />

                 </a>
              }
              else
              {
                  
                  <img class="rounded-circle" src="@item.PictureUrl" alt="@item.Name"  />
                  
              }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>

                <td>
                    <!--Behöver lösa så att även rolen User har tillgång till detta, gäller även details vyerna-->
                    @if (User.IsInRole("Admin"))
                    {
                        <form asp-action="Edit" asp-route-id="@item.Id">
                            <button type="submit" class="btn-edit btn-outline-success">Edit</button>
                        </form>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("User"))
                    {
                        <form asp-action="Details" asp-route-id="@item.Id">
                            <button type="submit" class="btn-details btn-outline-success">Details</button>
                        </form>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <form asp-action="Delete" asp-route-id="@item.Id">
                            <button type="submit" class="btn-delete btn-outline-success">Delete</button>
                        </form>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
