@model Webb_MovieShop.Models.Movie
<link href="~/css/site.css rel="stylesheet" />
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    <h4>Movie</h4>
    <hr />
    <div class="row">
        <div class="col-sm-2" >
            <img class="" src="@Model.ImgUrl" width="100%" alt="@Model.Title">
        </div>
        <div class="col-sm-10">
            <dl class="row">
                <dt class="col-sm-4 details-label-movie">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-8 details-value-movie">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-4 details-label-movie">
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd class="col-sm-8 details-value-movie">
                    @Html.DisplayFor(model => model.Genre)
                </dd>
                <dt class="col-sm-4 details-label-movie">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8 details-value-movie">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <p class="card-text col-sm-12">
                    <b>Producer: </b>
                    <br>
                    <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.Producer.Id">
                        <!--@Model.Producer.Name-->
                        <img class="rounded-circle" src="@Model.Producer.PictureUrl" alt="@Model.Producer.Name" style="max-width: 250px; max-height: 250px; border:white 2px solid;">
                    </a>
                </p>
            </dl>
        </div>
    </div>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">
            <button type="submit" class="btn-edit">Edit</button>
        </a>
    }
   
    <form asp-action="Index">
            <button type="submit" class="btn-back">Back to Movies</button>
    </form>
    
</div>

