@model Webb_MovieShop.Models.MovieGenreViewModel
<link href="~/css/site.css rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">
            <button type="submit" class="btn-create btn-outline-success">Create New</button>
        </a>
    </p>
}
<form asp-controller="Movies" asp-action="Index" method="get">
    <p>

        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies!)
        {
            <tr>
                <td>
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.ImgUrl" width="100%" alt="@item.Title">
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <button type="button" class="btn-edit btn-outline-success">Edit</button>
                        </a>
                        <br />
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("User"))
                    {

                        <a asp-action="Details" asp-route-id="@item.Id">
                            <button type="button" class="btn-details btn-outline-success">Details</button>
                        </a>
                        <br />
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <button type="button" class="btn-delete btn-outline-success">Delete</button>
                        </a>
                        <br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

